[package]
name = "ajour"
description = "A World of Warcraft addon manager"
version = "0.3.5"
authors = ["Casper Rogild Storm"]
license = "MIT"
homepage = "https://github.com/casperstorm/ajour"
repository = "https://github.com/casperstorm/ajour"
readme = "README.md"
keywords = ["addon-manager", "wow", "world-of-warcraft", "addon"]
categories = ["graphics", "gui", "games"]
edition = "2018"

[dependencies]
ajour-core = { path = "crates/core", features=['gui'] }
widgets = { path = "crates/widgets" }

iced = { git = "https://github.com/hecrj/iced.git", features = ["debug"], rev = "fb015a85d22a7c4632bd251127a89259bfd0c346" }
iced_futures = { git = "https://github.com/hecrj/iced.git", features = ["async-std"], rev = "fb015a85d22a7c4632bd251127a89259bfd0c346" }
iced_native = { git = "https://github.com/hecrj/iced.git", rev = "fb015a85d22a7c4632bd251127a89259bfd0c346" }
async-std = "1.6.2"
isahc = { version = "0.9.6", features = ["json"] }
image = "0.23.8"
native-dialog = "0.4.2"
opener = "0.4.1"
chrono = { version = "0.4", features = ['serde'] }
log = "0.4"
fern = "0.6"
timeago = "0.2.1"
log-panics = { version = "2.0", features=['with-backtrace'] }

[build-dependencies]
embed-resource = "1.3.3"

[workspace]
members = [
    ".",
    "crates/core",
    "crates/widgets"
]
